@charset "utf-8";
/* CSS Document */
.top {
	background-color: #379be9;/*red*/
	height: 38px;
	width: 100%;
	min-width:1000px;
	margin-bottom: 10px;
	font-size:14px;
}
.top ul{
	 list-style:none;
	 margin-left:-40px;
	}
.top ul li{
	height:38px;
	width:40px;
	float:left;
	text-align:center;
	line-height:38px;
	position:relative;
	}
.top ul li a{
	text-decoration:none;
	display:block;
	
	color:white;
	
	
	}
	
.top ul li:hover{
	background-color:#666;
	}
.top ul li ul{
	width:70px;
	height:190px;
	display:none;
	position:absolute;
	background-color: #379be9;
	margin-left:1px;
	}	
.top ul li ul li{
	width:70px;
	height:30px;
	float:left;
}
	
.top ul li:hover ul{
	display:block;
	}	
/*.top .top-right1	{
	float:right;
	width:60px;
	height:16px;
	padding:4px 2px;
	
	font-size:14px;
	background-color:#FFF;
	border:1px solid black;
	border-radius:3px;
	line-height:14px;
	text-align:center;
	margin-top:7px;
	}*/
.top .top-right1 {
	text-decoration:none;
	color:#4087c1;
	
	display:block;
	
	float:right;
	width:60px;
	height:16px;
	padding:4px 2px;
	
	font-size:14px;
	background-color:#eef5fb;
	border:1px solid black;
	border-radius:3px;
	line-height:14px;
	text-align:center;
	margin-top:7px;
	
	}
.top .top-right1:hover{
	background-color:#fdfac9;
	color:#933;
	}	
.top .top-right2	{
	float:right;
	height:38px;
	}	
	
	




/*banar*/	
	
.banar {
	height: 90px;
	width: 1000px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	border: 2px solid #CCC;
}

	
	
	
	
	
	
	
	
	
	/*logomenu*/
	
.logomenu {
	height: 45px;
	width: 1000px;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	border-bottom:1px solid #ccc;
}	
.logomenu-sub{
	margin-bottom:5px;
	float:right;
	}
.logomenu-sub input[type="text"] {
    width: 180px;
	height:25px;
    /*padding: .15em 3em .-31em 1em;*/
    font-size: 0.8em;
    margin: 10px 0;
    outline: none;
    color: #999;
    border: 1px solid #ccc;
    border-radius: 3px;
	margin-bottom:25px;
}	
.logomenu-sub input[type="submit"] {
    outline: none;
    height:28px;
    width: 60px;
    text-align: center;
    
	font-weight:bold;
    border: 1px solid #ccc;
	border-radius: 3px;
    margin-left:-5px;
    cursor: pointer;
}		
	
.logomenu-logo	{
	float:left;
	}
	
.logomenu-menu{
	float:left;
	width:300px;
	height:45px;
	font-size:12px;
	}	

.logomenu-menu ul{
	list-style:none;
	}	
.logomenu-menu ul li{
	float:left;
	height:45px;
	width:40px;
	line-height:30px;
	text-align:center;
	padding-top:10px;
	}	
	
.logomenu-menu ul li a{
	text-decoration:none;
	display:block;
	color:black;
	}	
	
.logomenu-menu ul li:hover a{
	background-color:#379be9;
	color:white;
	}	








	
	
	
	
	
	
	
	
/*main-left*/	
	

.main {
	height: 3640px;
	width: 1000px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
.main .main-left {
	
	float: left;
	height: 3640px;
	width: 640px;
}
.main-left-top{
	width:640px;
	height:40px;
	margin-top:20px;
	border-bottom:1px dotted #ccc;
	}
.main-left-menu{
	
	height:30px;
	
	font-size:14px;
	margin-top:10px;
	
	}
.main-left-menu ul{
	list-style:none;
	margin-left:-20px;
	}
.main-left-menu ul li{
	width:140px;
	height:30px;
	line-height:30px;
	text-align:center;
	float:left;
	
	}
.main-left-menu ul li a{
	text-decoration:none;
	color:black;
	}	
.main-left-menu ul li:hover a{
	text-decoration:underline;
	color:#906;
	}	
.main-left-right{
	margin-top:-40px;
	
	
	float:right;}
	
.main-left-img{
	margin-top:30px;
	
	}	
.main-left-xinwen{
	line-height:30px;
    letter-spacing:1px;
	font-family:Arial,Verdana,Sans-serif;
	}	
.main-left-xinwen p{
	padding-top:30px;
	}	
.main-left-comment{
	width:640px;
	height:120px;
	border:1px solid #379be9;
	font-size:14px;
	}	
.main-left-comment textarea{height: 80px; width: 638px; resize: none;
                            border-top:none;
							border-left:none;
							border-right:none;
     }
.main-left-comment-menu{
	float:right;
	width:70px;
	height:30px;
	background-color:#379be9;
	color:white;
	line-height:30px;
	text-align:center;
	margin-top:5px;
	margin-right:5px;
	text-decoration:none;
	border-radius:3px;
	}













	
	
	
	
	
	
	/*.main-right*/
	
	
	
.main .main-right {
	
	float: right;
	height: 3640px;
	width: 330px;
}
.main-right-information{
	width:330px;
	height:350px;
	font-size:13px;
	margin-top:20px;
	
	overflow:hidden;
	}
.main-right-information ul{
	list-style:none;
	margin-left:-10px;
	}	
.main-right-information ul li{
	height:120px;
	width:150px;
	float:left;
	padding:10px ;
	/*padding-left:20px;
	padding-bottom:15px;*/
	}	
.lian-3{
	text-decoration:none;
	color:black;
	}
 .lian-3:hover{
	text-decoration:underline;
	color:#C36;
	}
.main-right-cream{
	font-size:15px;
	clear:both;
	
	}
.main-right-cream dl{
	margin-top:20px;
	clear:both;
	}
.main-right-cream dl dt{
	float:left;
	margin-top:12px;
	}
.main-right-cream dl dd{
	float:right;
	width:210px;
    margin-top:12px;
	
	}

.main-right-newspaper{
	margin-top:120px;
	font-size:15px;
	
	}
.main-right-newspaper ul{
	list-style:none;
	line-height:30px;
	
	}










/*foot*/

.footer{width:100%; 
        min-width:1000px; 
		height:150px; 
		background-color:#333438;
		}
.dibu{
	text-decoration:none;
	color:#ccc;
	padding-right:6px;
	padding-left:6px;
	
	/*#333438/**/
	}
.dibu:hover{
	text-decoration:underline;
	}
.fot-menu{
	font-size:12px;
	margin:2px auto; 
	color:white; 
	padding-top:20px; 
	padding-left:100px;
	}
.fot-box{
	margin:5px auto; 
	width:1000px; 
	height:150px; 
	padding-top:30px;
	}
.fot-Copyright{
	font-size:12px;
	text-align:center;
	color:#ccc;
	margin-left:-110px;
	margin-top:10px;
	}
.fot-last{
	font-size:12px;
	text-align:center;
	margin-left:-110px;
	margin-top:10px;
	}