@charset "utf-8";
/* CSS Document */




 /*头部*/

body{}

.topmenu {
	height: 70px;
	width: 960px;
	
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	position:relative;
}
#topmenuleft {
	float: left;
	height: 40px;
	width: 90px;
	margin-left: 10px;
	margin-top:20px;
	border-radius:25px;
	text-align:center;
	border:2px solid #09c;
	position:absolute;
	padding-top:10px;
	color:#09c;
	background-color:;
}




.topmenuright {
	float: right;
	height: 20px;
	width: 100px;
	color:#09c;
	font-size: 14px;
	margin-top: 20px;
    
}
.topmenuright ul{
    list-style:none;
	padding: 5px;
    margin-top: 5px;
    display: none;
	width: 210px;
	height:270px;
	border:2px solid #09c;
	border-radius:0 25px;
}
.topmenuright ul li{
    margin:3px;}
.topmenuright p{
    padding: 5px auto;
    margin: 0px;
	height: 40px;
    width: 90px;
    line-height:40px;
    text-align:center;
	border:2px solid #09c;
				 
	border-radius:25px  0;
				
				 }
.topmenuright p:hover{
    cursor:pointer;
		}
.img-my{width:130px;
    height:180px;
    border:2px solid #09c;
	box-shadow: 5px 5px 7px #ccc;	 
	border-radius:100%;
	margin-left:30px;
		}


.topmenuright2 {
	float: right;
	height: 40px;
	width: 90px;
	border: 2px solid #09c;
	border-radius:0 25px;
	text-align:center;
	padding-top:9px;
	margin-top:20px;
	
	display:block;
	
	<!---->
	text-decoration: none;
	color:#09C;
	}
.topmenuright2:hover{
    color:white;
	}
.color{
    background-color: #09C;
       
	   
	}
	
	
	
	
	
	 /*头部标题*/
	 
	 
	 
	 
	
.toptitle {
	height: 200px;
	width: 960px;
	margin:20px auto;
	margin-top:80px;
	border-bottom: 3px solid  rgba(200,200,200,0.2);
	
}
.toptitle h3{
	font-size: 36px;
	text-align: center;
	font-weight: bold;
	padding-top:30px;
	color:#09c;
	}
/*.toptitletime{
	font-size:16px;
	width:100px;
	height:50px;
	background-color:#09C;
	float:left;
	}*/
	
	
	
	
	
	
	
	 /*主要内容*/
	 
	 
	 
	 
	 
.main{
    margin-bottom:30px;
	width:1100px;
	height:1450px;
	
	margin:10px auto;
	margin-bottom: ;
	padding:10px;
	
}	
.pagedemo{
   
	width:1100px;
	height:1350px;
	
	margin:1px auto;
	margin-bottom: 10px;
	margin-top:10px;
	
}	
#demo5{margin-left:850px;}	
.content {
	height: 250px;
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
	border-bottom: 3px solid  rgba(200,200,200,0.2);
	
}
.contentleft{
	height: 200px;
	width: 200px;
	float: left;
	
	}
.contentright{
	height: 200px;
	width: 740px;
	float: right;
	line-height:25px;
	letter-spacing:1px;
	
	}
.contentright h4 a{
	text-decoration:none;
	color:black;
	font-weight:bold;
	}
.contentright h4 a:hover{
	color:#09c;
	
	}
.contentright p{
	font-size:16px;
   font-family:"Hiragino Sans GB","microsoft yahei","宋体";
		color:black;
	letter-spacing: 3px;
	}
.h4 {
	letter-spacing: 1em;
	
}
.content .contentright h4 {
	letter-spacing: 1em;
	word-spacing: 1em;
}
.content-color{
	color:orange;
}





      /*底部*/




.foter {
	background-color: #09c;
	
	width: 100%;
	min-width:960px;
	color:white;
	text-align:center;
	font-size:16px;
	padding-top:7px;
	letter-spacing: 1em;
}
